<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>oldPrice</key>
		<real>20000</real>
		<key>newPrice</key>
		<real>10000</real>
		<key>imageName</key>
		<string>0</string>
		<key>title</key>
		<string>鞋子</string>
		<key>subTitle</key>
		<string>裤子</string>
	</dict>
    <dict>
        <key>oldPrice</key>
        <real>203010</real>
        <key>newPrice</key>
        <real>102100</real>
        <key>imageName</key>
        <string>1</string>
        <key>title</key>
        <string>鞋子002</string>
        <key>subTitle</key>
        <string>裤子002</string>
    </dict>
    <dict>
        <key>oldPrice</key>
        <real>20300</real>
        <key>newPrice</key>
        <real>10200</real>
        <key>imageName</key>
        <string>2</string>
        <key>title</key>
        <string>鞋子003</string>
        <key>subTitle</key>
        <string>裤子003</string>
    </dict>
    <dict>
        <key>oldPrice</key>
        <real>20300</real>
        <key>newPrice</key>
        <real>102030</real>
        <key>imageName</key>
        <string>3</string>
        <key>title</key>
        <string>鞋子004</string>
        <key>subTitle</key>
        <string>裤子004</string>
    </dict>
    <dict>
        <key>oldPrice</key>
        <real>2300</real>
        <key>newPrice</key>
        <real>12030</real>
        <key>imageName</key>
        <string>4</string>
        <key>title</key>
        <string>鞋子005</string>
        <key>subTitle</key>
        <string>裤子005</string>
    </dict>
    <dict>
        <key>oldPrice</key>
        <real>2030</real>
        <key>newPrice</key>
        <real>10200</real>
        <key>imageName</key>
        <string>5</string>
        <key>title</key>
        <string>鞋子006</string>
        <key>subTitle</key>
        <string>裤子006</string>
    </dict>
    <dict>
        <key>oldPrice</key>
        <real>20000</real>
        <key>newPrice</key>
        <real>10000</real>
        <key>imageName</key>
        <string>6</string>
        <key>title</key>
        <string>鞋子</string>
        <key>subTitle</key>
        <string>裤子</string>
    </dict>
    <dict>
        <key>oldPrice</key>
        <real>203010</real>
        <key>newPrice</key>
        <real>102100</real>
        <key>imageName</key>
        <string>7</string>
        <key>title</key>
        <string>鞋子002</string>
        <key>subTitle</key>
        <string>裤子002</string>
    </dict>
    <dict>
        <key>oldPrice</key>
        <real>20300</real>
        <key>newPrice</key>
        <real>10200</real>
        <key>imageName</key>
        <string>8</string>
        <key>title</key>
        <string>鞋子003</string>
        <key>subTitle</key>
        <string>裤子003</string>
    </dict>
    <dict>
        <key>oldPrice</key>
        <real>20300</real>
        <key>newPrice</key>
        <real>102030</real>
        <key>imageName</key>
        <string>9</string>
        <key>title</key>
        <string>鞋子004</string>
        <key>subTitle</key>
        <string>裤子004</string>
    </dict>
    <dict>
        <key>oldPrice</key>
        <real>20000</real>
        <key>newPrice</key>
        <real>10000</real>
        <key>imageName</key>
        <string>0</string>
        <key>title</key>
        <string>鞋子</string>
        <key>subTitle</key>
        <string>裤子</string>
    </dict>
    <dict>
        <key>oldPrice</key>
        <real>203010</real>
        <key>newPrice</key>
        <real>102100</real>
        <key>imageName</key>
        <string>1</string>
        <key>title</key>
        <string>鞋子002</string>
        <key>subTitle</key>
        <string>裤子002</string>
    </dict>
    <dict>
        <key>oldPrice</key>
        <real>20300</real>
        <key>newPrice</key>
        <real>10200</real>
        <key>imageName</key>
        <string>2</string>
        <key>title</key>
        <string>鞋子003</string>
        <key>subTitle</key>
        <string>裤子003</string>
    </dict>
    <dict>
        <key>oldPrice</key>
        <real>20300</real>
        <key>newPrice</key>
        <real>102030</real>
        <key>imageName</key>
        <string>3</string>
        <key>title</key>
        <string>鞋子004</string>
        <key>subTitle</key>
        <string>裤子004</string>
    </dict>
    <dict>
        <key>oldPrice</key>
        <real>2300</real>
        <key>newPrice</key>
        <real>12030</real>
        <key>imageName</key>
        <string>4</string>
        <key>title</key>
        <string>鞋子005</string>
        <key>subTitle</key>
        <string>裤子005</string>
    </dict>
    <dict>
        <key>oldPrice</key>
        <real>2030</real>
        <key>newPrice</key>
        <real>10200</real>
        <key>imageName</key>
        <string>5</string>
        <key>title</key>
        <string>鞋子006</string>
        <key>subTitle</key>
        <string>裤子006</string>
    </dict>
    <dict>
        <key>oldPrice</key>
        <real>20000</real>
        <key>newPrice</key>
        <real>10000</real>
        <key>imageName</key>
        <string>6</string>
        <key>title</key>
        <string>鞋子</string>
        <key>subTitle</key>
        <string>裤子</string>
    </dict>
    <dict>
        <key>oldPrice</key>
        <real>203010</real>
        <key>newPrice</key>
        <real>102100</real>
        <key>imageName</key>
        <string>7</string>
        <key>title</key>
        <string>鞋子002</string>
        <key>subTitle</key>
        <string>裤子002</string>
    </dict>
    <dict>
        <key>oldPrice</key>
        <real>20300</real>
        <key>newPrice</key>
        <real>10200</real>
        <key>imageName</key>
        <string>8</string>
        <key>title</key>
        <string>鞋子003</string>
        <key>subTitle</key>
        <string>裤子003</string>
    </dict>
    <dict>
        <key>oldPrice</key>
        <real>20300</real>
        <key>newPrice</key>
        <real>102030</real>
        <key>imageName</key>
        <string>9</string>
        <key>title</key>
        <string>鞋子004</string>
        <key>subTitle</key>
        <string>裤子004</string>
    </dict>
</array>
</plist>
